# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# All csv files
met_data/*.csv
met_data/raw_met_data/*.csv
outputs/*.csv
outputs/*.nceas
outputs/old/*.csv
data/*.csv
analyses/*.csv


# All nc files
met_data/raw_met_data/*.nc
met_data/raw_met_data/*.dat

# all DS_Store files
*.DS_Store

# all object file
GDAY/src/*.o

# token file for downloading data from HIEv
tokenfile.txt

# download file
download/*.dat
download/*.csv

# cfg file
params/*.cfg

# simulations
simulations/*.txt

# pdf
R/*.pdf